<% content_for :javascripts do %>
	<script type="text/javascript"> 
	
			$('form').submit(function(){
				stopPropagation();
				preventDefault();

				var address,fancy_url;

				if ($("#address_url")){

					address = $("#address_url").val();

					if(address.match( /^(((ht|f)tp(s?):\/\/)|(www\.[^ \[\]\(\)\n\r\t]+)|(([012]?[0-9]{1,2}\.){3}[012]?[0-9]{1,2})\/)([^ \[\]\(\),;&quot;'&lt;&gt;\n\r\t]+)([^\. \[\]\(\),;&quot;'&lt;&gt;\n\r\t])|(([012]?[0-9]{1,2}\.){3}[012]?[0-9]{1,2})/  )){
	 
						fancy_url = address.replace("http://","");
						fancy_url = fancy_url.replace("www.","");

						$("#url_list").prepend("<li>"+ fancy_url + "</li>");
						$("#address_url").val(" ");

					}else if (address.match( /^(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:/~\+#]*[\w\-\@?^=%&amp;/~\+#])?/ )) {
						fancy_url = address.replace("http://","");
						$("#url_list").prepend("<li>"+ fancy_url + "</li>");
						$("#address_url").val(" ");

					}else { }

					setInterval(post(),5000);
					setInterval(addToPage(),5000)
					return false

				}

				function post(){
					console.log("++updating++");
					$.ajax({
									url: "/addresses",
									type: "POST",
									data: { url : fancy_url },
									cache: false,
									dataType: "json",
									success:function(xhr,textStatus){ console.log(textStatus);}

								});

				}

				function addToPage(){
					$.ajax({
									url: "/addresses",
									type: "GET",
									dataType: "script",
									success:function(data){ console.log(data);}

								});
				}


			});

		

	</script>
<% end %>

<div id='address_form'>
<%= form_tag() do %>
	<%=label_tag(:address,"Website Url:") %>
	<%=text_field(:address, :url , :class => "address" )%>
<%end%>
<ul>
		<div id="url_list"><%#= render :partial => "urls", :locals => {:url => @address} %></div>
</ul>
</div>

