<% content_for :javascripts do %>
	<script type="text/javascript">

			$(document).ready(function(){
					setInterval(addToPage(),5000);
					function addToPage(){
						$.ajax({
								url: "/addresses",
								type: "GET",
								dataType: "json",
								success:function(url){ 
								var i = 0;
									for(i;i<url.length;i++){
										$("#url_list").prepend("<li>" + url[i].url + "</li>");
									}
								}
										
						});
					}
			}); 
	
			$('form').submit(function(){

				var address,fancy_url;

				if ($("#address_url")){
					address = $("#address_url").val();
					if(address.match( /^(((ht|f)tp(s?):\/\/)|(www\.[^ \[\]\(\)\n\r\t]+)|(([012]?[0-9]{1,2}\.){3}[012]?[0-9]{1,2})\/)([^ \[\]\(\),;&quot;'&lt;&gt;\n\r\t]+)([^\. \[\]\(\),;&quot;'&lt;&gt;\n\r\t])|(([012]?[0-9]{1,2}\.){3}[012]?[0-9]{1,2})/  )){
	 
						f_url = address.replace("http://","");
						f_url = f_url.replace("www.","");
						fancy_url = f_url.split('/')[0]
						$("#url_list").prepend("<li>"+ fancy_url + "</li>");
						$("#address_url").val(" ");

					}else{ 

						if (address.match( /^(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:/~\+#]*[\w\-\@?^=%&amp;/~\+#])?/ )) {
								f_url = address.replace("http://","");
								fancy_url = f_url.split('/')[0]
								$("#url_list").prepend("<li>"+ fancy_url + "</li>");
								$("#address_url").val(" ");
							}
					}

					$.ajax({
							url: "/addresses",
							type: "POST",
							data: { url : fancy_url },
							dataType: "json",
							success:function(xhr,textStatus){ console.log(textStatus);}

					});
					
					return false

				}

			});

	</script>
<% end %>

<div id='address_form'>
<%= form_tag() do %>
	<%=label_tag(:address,"Website Url:") %>
	<%=text_field(:address, :url , :class => "address" )%>
<%end%>
<ul>
		<div id="url_list"></div>
</ul>
</div>

